@mixin function($name, $position) {
  &.#{$name} {
    border-width: 0;
    font-size: inherit;

    & > svg {
      stroke: $ShortcutTextColor;
      opacity: 0.2;
    }
  }

  &.enabled {
    &.#{$name} {
      & > svg {
        opacity: 1;
      }

      &:hover {
        & > svg {
          stroke: $BaseTextColor;
        }
      }
    }
  }
}