$BodyBackground: #002B36;
$ActionsBackground: #292929;

$Box1Background: #00222b;
$Box2Background: #08323c;
$Box3Background: #173e48;

$BaseTextColor: #fff;
$ShortcutTextColor: #c4dce3;

$MessagesBackground: rgba(23,62,72,0.8);
$MessagesBackgroundError: rgba(102,8,0,0.8);