$BodyBackground: #212121;

$Box1Background: #121212;
$Box2Background: #1c1c1c;
$Box3Background: #252525;

$BaseTextColor: #fff;
$ShortcutTextColor: #adadad;

$MessagesBackground: rgba(23,62,72,0.8);
$MessagesBackgroundError: rgba(102,8,0,0.8);